body {
    background-color: rgb(236, 28, 36);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-direction: column;
    font-family: fantasy;
}

h2 {
    font-size: 2.5em;
    -webkit-text-stroke: 1px black;
    color: white;
}

.encabezado {
    margin-bottom: 2em;
}

.encabezado h1 {
    font-size: 3.5em;
    text-align: center;
}

.encabezado span {
    background-color: rgb(29, 29, 29);
    color: white;
    display: inline;
    box-shadow: 1rem 0 0 rgb(29, 29, 29), -1rem 0 0 rgb(29, 29, 29);
}

.contadores {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2em;
    flex-grow: 1;
}

.contador-conainter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contadores > div {
    flex-grow: 1;
}

.odometer {
    font-size: 4em;
}